.vscode/
__pycache__/
User_Data/
debug.txt
restENV/
debug.log
env/
staticfiles/
tmp/
public/
.vscode/

.expo-shared/
node_modules/
shared_hosting_config/
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
.expo-shared
.vscode